body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

p{
    text-align: justify;
    font-size: 14px;
    line-height: 11px;
    background: url(kea3.png);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255,255,0.1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}